<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <form [formGroup]="createTaskForm" (ngSubmit)="createTask(createTaskForm.value)" class="ui form"
          style="margin-left: 3%; width: 30%;">
      <h1 id="info" style="color: darkcyan">Add new task</h1>
      <label> Title</label>
      <input type="text" id="taskTitle" formControlName="taskTitle" class="form-control"/>

      <label>Description</label>
      <input type="text" id="taskDescription" formControlName="taskDescription" class="form-control"/>
      <br>
      <button style="margin-left: 220px; border-color: darkcyan" class="btn btn-outline-info" type="submit">ADD TASK
      </button>
    </form>
    <h1 style="color: darkcyan; margin-left: 520px; margin-top: 20px">All tasks</h1>

    <div class="parent" style="display: flex">
      <div class="card text-white bg-info mb-3 " style="width: 15rem; width-min: 19rem; margin-left: 20px"
           *ngFor="let task of tasks; let i = index">
        <div class="card-header">
          <button class="btn btn-light" (click)="share(task.id)">share</button>
        </div>
        <div class="card-body">
          <h5>BY: {{task.creator.fullName}}</h5>
          <h2 class="card-title">{{task.title}}</h2>
          <p class="card-text">{{task.description.split(0,20)}}</p>
          <div *ngIf="user && user.tasksID.includes(task.id)">
          <button class="btn btn-outline-dark" (click)="delete(task.id, i)">delete</button>
          <button type="button" class="btn btn-light" style="margin-left: 40px" (click)="update(task)">update
          </button></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

