<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="createTaskForm" (ngSubmit)="update(createTaskForm.value)" class="ui form">

    <div class="modal-body">
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Title:</label>
        <input type="text" class="form-control" id="recipient-name" formControlName="taskTitle" value="{{data.title}}">
      </div>
      <div class="form-group">
        <label for="message-text" class="col-form-label">Description:</label>
        <textarea class="form-control" id="message-text" formControlName="taskDescription"
                  [value]="data.description"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-success" type="submit" data-dismiss="modal">Update</button>
    </div>
  </form>
</div>

