<div class="modal-content" style="width: 400px;">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
      SHARE TO
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="list-group list-group-flush" style="width: 15rem; width-min: 19rem; margin-left: 20px"
         *ngFor="let user of users; let i = index">
      <li style="width: 300px" class="list-group-item">{{user.fullName}}({{user.username}}) <button class="btn-outline-success"(click)="share(user.id)" style="margin-right: 2px">-></button></li>
    <div class="modal-footer">
    </div>
  </div>
</div>

